<h1>Listing messages</h1>

<% if @user && signed_in? && @user != current_user %>
  <%= render :partial => 'watch' %>
<% end %>

<table>
<% @messages.each do |message| %>
  <%= content_tag_for "tr", message do %>
    <td>
      <%= link_to message.user.login, user_messages_path(message.user.login) %>
    </td>
    <td><%=h message.text %></td>
    <td><%= link_to message.created_at.iso8601, message %></td>
  <%- end %>
<% end %>
</table>

<br />

<%= link_to t(:new_message, :default => 'New message', :scope => [:application]), new_message_path %>
